{% extends 'base.html' %}
{% load static %}

{% block main %}
 <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1>Entrega Intermedia del Proyecto Final</h1>
          <h2>Desarrolay una web Django con patrón MVT subida a Github</h2>
          <div><a href="https://github.com/gabrielabaca/Entrega1"  class="btn-get-started scrollto">Ver en GitHub</a></div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img">
          <img src="{% static 'media/images/coderhouse_logo.webp' %}" class="img-fluid" alt="">
        </div>
      </div>
    </div>

  </section>
{% endblock %}